<!DOCTYPE html>
<html lang="ru" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/custom/style.css">
  <title>Шаблонизатор документов</title>
</head>

<body ng-controller="appController">
  <nav class="navbar navbar-dark bg-dark mb-2">
    <span class="nav-title mx-auto navbar-brand font-weight-bold">Шаблонизатор документов</span>
  </nav>

  <div class="row justify-content-between">
    <canvas class="" id="canvas" width="793px" height="1122px">
      <p>Ваш браузер не поддерживает элемент canvas!</p>
    </canvas>
      <!-- ng-show="data" -->

      <!-- <nav class="mx-auto" aria-label="dataset" ng-show="data">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/#!/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/#!/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/#!/3">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> -->

    <div class="col-3">
      <h1 class="header">Шаблоны</h1>
      <ul class="list-group mt-1">
        <li class="list-group-item list-group-item-action" ng-repeat="temp in templates"
          ng-class="{active : curTemplate.name === temp.name}" ng-click="chooseTemplate(temp)">

          <div>{{temp.name}}</div>

          <div class="mt-2 p-1" ng-if="curTemplate.name === temp.name">
            <div class="mx-auto my-1 custom-file">
              <input type="file" class="custom-file-input" id="imageFile" ng-click="loadBackground()">
              <label class="custom-file-label" for="imageFile">Загрузить фон...</label>
            </div>

            <button class="mx-auto btn btn-warning my-1" data-toggle="modal" data-target="#modal">Загрузить данные...</button>

            <button class="btn btn-success my-1" ng-click="createDocs()" >Создать экземпляры</button>
          </div>
        </li>
      </ul>
    </div>


    <!-- <div class="col-1 mx-auto my-auto" ng-if="!vm.error && !vm.list.length">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Подождите немножко...</span>
        </div>
      </div> -->

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Загрузить данные</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Введите API сайта с данными:</label>
                <input type="text" ng-model="address" class="form-control" id="message-text"
                  placeholder="API адрес данных">
                <label class="col-form-label">Пример (титульники): https://template-docs.herokuapp.com/api/data</label>
                <label class="col-form-label">Пример (грамота): https://template-docs.herokuapp.com/api/gramota</label>
              </div>
              <!-- <div class="form-group">
                  <label for="message-text" class="col-form-label">Или загрузите JSON-файл:</label>
                  <input type="file" class="form-control" id="message-text"></input>
                </div> -->
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="loadData()">Загрузить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto">
      <button class="mb-1 btn btn-secondary" data-slide="prev" ng-click="changeDataset(-1)">Предыдущий</button>
      <button class="mb-1 btn btn-secondary" data-slide="next" ng-click="changeDataset(1)">Следующий</button>
    </div>
  </div>

  <footer class="card-footer text-muted bg-dark my-2">
    <div class="text-center">&copy; 2020, Daniil Gorbunov</div>
  </footer>

  <script src="lib/bootstrap/jquery-3.4.1.slim.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/bootstrap/popper.min.js"></script>

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>

  <script src="lib/jspdf.min.js"></script>
  <script src="lib/jszip.js"></script>
  <script src="lib/FileSaver.js"></script>

  <script src="mouse.js"></script>
  <script src="app.js"></script>
</body>

</html>
