<div class='row justify-content-between' ng-controller='appController'>

  <div class='col-4 ml-3'>
    <h1 class='text-center'><span class='badge badge-light'>Шаблоны</span></h1>

    <ul class='list-group mt-1'>
      <li class='list-group-item list-group-item-action' ng-repeat='t in templates'
        ng-class='{active : cur.templateName === t.name}' ng-click='chooseTemplate(t)'>
        <div class="font-weight-bold">{{t.name}}</div>
        <div ng-if='cur.templateName === t.name'>
          <hr>
          <div class='mx-auto my-1 custom-file'>
            <input type='file' class='custom-file-input' id='imageFile' ng-click='loadBackground(t)'>
            <label class='custom-file-label' for='imageFile'>Загрузить фон...</label>
          </div>
          <hr>

          <div class="flex-column">
            <label class='row col-form-label' for='d'><span class="mx-auto">Наборы данных</span></label>
            <textarea class='form-control' rows='5' name="d" ng-model='cur.data'></textarea>

            <div class="alert alert-danger mt-1" role="alert" ng-show="!vm.data.valid">
              {{vm.data.message}}
            </div>

            <button class='mt-1 btn btn-warning' ng-click='updateData(cur.data)'>Применить</button>
            <button class='mt-1 btn btn-success' ng-click='createDocs(t)'>Создать экземпляры</button>
            
            <div class='row justify-content-between my-1'>
              <button class='mx-1 btn btn-secondary' ng-click='changeDataset(-1)'><</button>
              <span class='col pt-3 badge badge-dark'>Текущий набор: {{cur.dataset}}</span>
              <button class='mx-1 btn btn-secondary' ng-click='changeDataset(1)'>></button>
            </div>
          </div>
          <hr>

          <div class="flex-column">
            <label class='row col-form-label' for='t'><span class="mx-auto">Настройки шаблона</span></label>
            <textarea class='form-control' rows='15' name="t" ng-model='cur.template'></textarea>

            <div class="alert alert-danger mt-1" role="alert" ng-show="!vm.template.valid">
              {{vm.template.message}}
            </div>

            <button class='my-1 btn btn-warning' ng-click='updateTemplate(cur.template)'>Применить</button>
            <button class='btn btn-success my-1' ng-click='createDocs(t)'>Создать экземпляры</button>
          </div>
          
        </div>
      </li>
    </ul>
  </div>

  <canvas id='canvas' width='793px' height='1122px'></canvas>
</div>
